<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入jdbc.properties-->
    <context:property-placeholder location="classpath:mybatis/jdbc.properties"/>

    <!--
        批量扫描包:service、mapper下的对象都要被spring-IOC管理
        1、扫描包
        2、加注解
    -->
    <context:component-scan base-package="com.hmc.crm"/>

    <import resource="classpath:spring/spring-service.xml"/>

</beans>